@font-face {
    font-family: 'Neue Plak';
    src: url('../fonts/Neue-Plak-CondBlack.ttf') format('truetype'); 
  }

  @font-face {
    font-family: 'Neue Plak';
    src: url('../fonts/Neue-Plak-Regular.otf') format('truetype'); 
}

@font-face {
  font-family: 'Neue Plak';
  src: url('../fonts/Neue-Plak-Bold.ttf') format('truetype'); 
}

@font-face {
  font-family: 'Neue Plak';
  src: url('../fonts/Neue-Plak-SemiBold.otf') format('truetype'); 
}
