@font-face {
    font-family: 'Neue Plak';
    src: url('../fonts/Neue\ Plak\ Condensed\ Black.ttf') format('truetype'); 
  }

  @font-face {
    font-family: 'Neue Plak';
    src: url('../fonts/Neue\ Plak\ Regular.ttf') format('truetype'); 
}

